@import "tailwindcss";

:root {
  --dashboard-bg: #f8fafc;
  --dashboard-primary: #0f766e;
  --dashboard-primary-hover: #115e59;
  --dashboard-text: #0f172a;
  --dashboard-muted: #334155;
  --dashboard-border: #e2e8f0;
  --dashboard-warning: #d97706;
  --dashboard-error: #dc2626;
}

@layer utilities {

  /* Custom Scrollbar */
  .info::-webkit-scrollbar {
    width: 6px;
  }

  .info::-webkit-scrollbar-track {
    background: transparent;
  }

  .info::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    /* slate-300 */
    border-radius: 10px;
  }

  .info::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
    /* slate-400 */
  }
}